<h1>Reset Password</h1>

<%= form_tag password_resets_path, :method => :post, :class => "form-horizontal" do %>
    <table class="table table-bordered">
      <tr>
        <th><%= label_tag :email %></th>
        <td> <%= text_field_tag :email, params[:email],  :class => "form-control" %></td>
      </tr>
      </table>
      <div class="form-buttons"><%= submit_tag "Reset Password" , :class => "btn btn-primary",:style=> "margin-left:50%"%></div>
<% end %>