<table>
<% @comments.each do |x| %>
<tr> 
	<td><%= link_to(x.user_name, user_path(x.user_id))%>: <%= x.text %> </td> 
</tr>
<tr>
	<td><b>created at: </b><%= x.created_at %><hr></td>
 </tr>
 <% end %>
</table>