<% @page_title = "Edit User Details" %>

<div class="users edit">
  <h2>Update User</h2>

  <%= form_for(@user) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f, is_edit: true}) %>

      <div class="form-buttons">
        <%= submit_tag("Update User",:class => "btn btn-primary",:style => "margin-left:43%") %>
      </div>

  <% end %>
</div>
