<% @page_title = "Registeraion Form" %>

<div class="users new">
  <h2>Create User</h2>

  <%= form_for(@user) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f, is_edit: false }) %>

      <div class="form-buttons">
        <%= submit_tag("Create User",:class => "btn btn-primary",:style => "margin-left:43%") %>
      </div>

  <% end %>
</div>
