<% @page_title = "Delete Document" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="document delete">
  <h2>Delete Document</h2>

  <%= form_for(:document, :url => {:action => 'destroy', :id => @document.id})do|f| %>

    <p>Are you sure you want to permanently delete this document?</p>

    <p class="reference-name"><%= @document.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Document") %>
    </div>
  <% end %>
</div>

