

<% @page_title = "New Document" %>

<%= link_to("<< Back to List", documents_path, :class => 'back-link') %>

<div class="document new">
  <h2>New Document</h2>

  <%= form_for(@document) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f, is_edit: false}) %>
      <div class="form-buttons">
        <%= submit_tag("Save", :class => "btn btn-default",:style=>"margin-left:50%")  %>
      </div>

  <% end %>
</div>

