

<% @page_title = "New Document" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="document new">
  <h2>New Document</h2>

  <%= form_for(:document, :url => {:action => 'create'}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= submit_tag("Save") %>
      </div>

  <% end %>

</div>

